<h2 class="status">STATUS
{{#unless model.closed}}
<span class="label label-primary">OPEN</span>
{{else}}
<span class="label label-danger">CLOSED</span>
{{/unless}}
</h2>
<h2>{{model.summary}}</h2>
<p>Submitted by <span class="ticketFullName">{{model.user.fullName}}</span> on {{moment-format model.datecreated}} </p>
{{#unless model.closed}}
<p>Ticket Age: {{moment-from-now model.datecreated hideSuffix=true}}</p>
{{/unless}}
<p>Location: {{model.location}}</p>
<p class="description">Description: {{model.description}}</p>
{{#if model.closed}}
<p>Closed on {{moment-format model.dateclosed}} by {{model.closedBy.fullName}}</p>
<p>Ticket Lifespan: {{moment-duration duration}}</p>
{{/if}}
