{{#if showCommentForm}}

  {{#if session.isAuthenticated }}
    <h1>New Comment For Ticket</h1>
      <form>
        <div class="form-group">
          <label for="comment">Comment:</label>
          {{textarea rows="3" class="form-control" value=comment id="comment"}}
        </div>
        <button class="btn btn-success" {{action 'addComment'}}>Post Your Comment</button>
        <button class="btn btn-default" {{action 'hideCommentForm'}}>Cancel</button>
      </form>
  {{else}}
    <p>You must login to add comments to tickets</p>
  {{/if}}

{{else}}

<button class="btn btn-default" {{action 'showCommentForm'}}>Comment</button>

  {{#unless ticket.closed}}
    <button class="btn btn-success" {{action 'resolve' ticket}}>Resolve</button>
  {{/unless}}

{{/if}}

