{{#if showTicketForm}}
  {{#if session.isAuthenticated}}
    <div class="row">
      <div class="col-md-6">
        <h1>New Help Ticket</h1>
        <form class="newTicket">
          <div class="form-group">
            <label for="location">Location</label>
            {{input class="form-control" value=location id="location"}}
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            {{input class="form-control" value=summary id="summary"}}
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            {{textarea rows="5" class="form-control" value=description id="description"}}
          </div>
          <div class="form-group">
            {{input type="checkbox" checked=isPrivate id="private"}}
            <label class="checkbox"> private</label>
          </div>
          <button class="btn btn-success" {{action 'createTicket'}}>Post Your Help Ticket</button>
          <button class="btn btn-default" {{action 'hideTicketForm'}}>Cancel</button>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <br>
  {{else}}
    <p>You must be logged in to create new help tickets.</p>
  {{/if}}
{{else}}
<button class="btn btn-default create-ticket" {{action 'showTicketForm'}}>Create Ticket</button>
{{/if}}
