{{#if showCommentForm}}

  <h1>New Comment For Ticket</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="comment">Comment:</label>
        {{textarea rows="3" class="form-control" value=comment id="comment"}}
      </div>
      <button class="btn btn-success" {{action 'addComment'}}>Save</button>
      <button class="btn btn-warning" {{action 'hideCommentForm'}}>Cancel</button>
    </form>
  </div>

{{else}}
<button class="btn btn-default" {{action 'showCommentForm'}}>Comment</button>
  {{#if ticket.closed}}
  <p><b> this ticket is closed</b></p>
  {{else}}
  <button class="btn btn-success" {{action 'resolve' ticket}}>Resolve</button>
  {{/if}}

{{/if}}
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>
