<div class="new-post-container container">
    <h1>New Ticket</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="location">Location</label>
          {{input class="form-control" value=location id="location"}}
        </div>

        <div class="form-group">
          <label for="summary">Summary</label>
          {{input class="form-control" value=summary id="summary"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{input class="form-control" value=description id="description"}}
        </div>

        <div class="form-group">
          <label class="checkbox">set to private</label>
          {{input type="checkbox" checked=isPrivate id="private"}}
        </div>


        <button class="btn btn-success" {{action 'createTicket'}}>Submit</button>

      </form>
    </div>
</div>
