<p>Ticket Summary: {{model.summary}}</p>
<p>Submitted By: {{model.user.username}} </p>
<p>Submitted On: {{moment-format model.datecreated}} </p>
<p>Closed On: {{moment-format model.dateclosed}}</p>
<p>Location: {{model.location}}</p>
<p>Description: {{model.description}}</p>
<p>Closed: {{model.closed}}</p>

{{#unless model.closed}}
<p>Ticket Age: {{moment-from-now model.datecreated hideSuffix=true}}</p>
{{/unless}}

<p>Duration from open to close: {{moment-duration duration}}</p>

{{ticket-resolve ticket=model resolve="resolve"}}
