<div class="ticket-edit-hbs">
{{#if showCommentForm}}
  {{#if session.isAuthenticated }}
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="comment">Comment:</label>
            {{textarea rows="3" class="form-control" value=comment id="comment"}}
          </div>
          <button class="btn btn-success" {{action 'addComment'}}>Post Your Comment</button>
          <button class="btn btn-default" {{action 'hideCommentForm'}}>Cancel</button>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  {{else}}
    <p>You must {{#link-to 'login'}}log in{{/link-to}} to add a comment</p>
  {{/if}}
{{else}}
<button class="btn btn-default" {{action 'showCommentForm'}}>Comment</button>
{{#unless ticket.closed}}
  <button class="btn btn-success resolve" {{action 'resolve' ticket}}>Resolve</button>
{{/unless}}
{{/if}}
<button class="btn btn-default back">{{#link-to 'index'}}Back{{/link-to}}</button>
</div>
