{{log  'IS USER AUTHENTICATED?' session.isAuthenticated}}
{{log 'USER SESSION DATA' session.data}}
{{log 'CURRENT USER SERVICE DATA' currentUser.content}}

{{ticket-new createTicket="createTicket"}}

<h3>ticket count: <span class="badge">{{model.length}}</span></h3>
<!-- <h3>Average ticket lifespan: {{avg-resolution-time model.closedTickets}} minutes</h3> -->

<h1>Unresolved Tickets</h1>

{{#each model as |ticket| }}
  {{#unless ticket.closed}}
    {{#if currentUser.content.admin}}
        {{ticket-tile ticket=ticket}}
    {{/if}}
    {{#unless currentUser.content.admin}}
      {{#if (or (eq ticket.isPrivate false) (and ticket.isPrivate (eq ticket.user.id currentUser.content.userId)))}}
        {{ticket-tile ticket=ticket}}
      {{/if}}
    {{/unless}}

  {{/unless}}
{{/each}}

<h1>Resolved Tickets</h1>

{{#each model as |ticket| }}
  {{#if ticket.closed}}
  {{#if currentUser.content.admin}}
      {{ticket-tile ticket=ticket}}
  {{/if}}
  {{#unless currentUser.content.admin}}
    {{#if (or (eq ticket.isPrivate false) (and ticket.isPrivate (eq ticket.user.id currentUser.content.userId)))}}
      {{ticket-tile ticket=ticket}}
    {{/if}}
  {{/unless}}
  {{/if}}
{{/each}}
