<p>index.hbs</p>
{{log session.isAuthenticated}}
{{log session.data}}

{{ticket-new save="save" user=model}}

<h3>ticket count: <span class="badge">{{model.tickets.length}}</span></h3>
<h3>Average ticket lifespan: {{avg-resolution-time model.closedTickets}} minutes</h3>

<h1>Unresolved Tickets</h1>

{{#each model.tickets as |ticket| }}
  {{#unless ticket.closed}}
    {{ticket-tile ticket=ticket}}
  {{/unless}}
{{/each}}

<h1>Resolved Tickets</h1>

{{#each model.tickets as |ticket| }}
  {{#if ticket.closed}}
    {{ticket-tile ticket=ticket}}
  {{/if}}
{{/each}}